// COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$white: #fff;
$bg-dark-gray: #777;
$bg-light-gray-1: #f7f7f7;

//color gradients
$yellow-light: #ffb900;
$yellow-dark: #ff7730;

$blue-light: #2998ff;
$blue-dark: #5643fa;

// FONT
$default-fsize: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 6rem;
