// COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$white: #fff;
$bg-dark-gray: #777;
$bg-light-gray-1: #f7f7f7;

//GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 6rem;
